.topnav {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-right: 30px;
}

.topnav2 {
    float: right;
    padding-top: 30px;
    padding-right: 30px;
}

.list {
    display: inline;
    padding-right: 20px;
  }

.topnav a:link {
    color: black;
    text-decoration: none;
}

.topnav a:visited {
    color: black;
    text-decoration: none;
}

.topnav a:hover {
    color: black;
    text-decoration: underline;
}

.topnav a:active {
    color: black;
}



.topnav2 a:link {
    color: black;
    text-decoration: none;
}

.topnav2 a:visited {
    color: black;
    text-decoration: none;
}

.topnav2 a:hover {
    color: black;
    text-decoration: underline;
}

.topnav2 a:active {
    color: black;
}


.search-box {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.line {
    border-bottom: 1px solid #ebebeb;
}

.class {
    margin-top: 15px;
    
}

.start {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}

.detail {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

.detail-input {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.heading {
    color: #d93025;
    margin-top: 55px;
    margin-right:35px;
    margin-left: 35px;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: arial,sans-serif;
}

.big-logo {
    width: 272px;
    height: 92px;
}

.small-logo {
    height: 24px;
    width: 74px;
}

.image {
    display: flex;
    justify-content: center;
}

.image2 {
    display: flex;
    justify-content: start;
    padding-left: 15px;
    padding-top: 30px;
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-input {
    display: flex;
    justify-content: center;
}