if (mailbox === "inbox") {
  const td4 = document.createElement('button');
  td4.className = "btn btn-primay";
  td4.innerHTML = (email.archived === true) ? "Unarchive":"Archive";
  tr.appendChild(td4);
  td4.onclick = function() {
    archiveMail(email.id);
  }
}







else {
  document.querySelector('#email-view').innerHTML = `
  <ul>
  <li>Sender: ${email.sender}</li>
  <li>Recipients: ${email.recipients}</li>
  <li>Subject: ${email.subject}</li>
  <li>Timestamp: ${email.timestamp}</li>
  <li>Body: ${email.body}</li>
  </ul>
  `
}
const button = document.getElementById('btn');
button.onclick = function() {
  unarchiveMail(email.id);
}
const reply = document.getElementById('reply');
          reply.onclick = function() {
            fetch(`/emails/${email.id}`)
            .then(response => response.json())
            .then(result => {
              console.log(result);
              document.querySelector('#emails-view').style.display = 'none';
              document.querySelector('#compose-view').style.display = 'block';
              document.querySelector('#email-view').style.display = 'none';

              document.querySelector('#compose-recipients').value = `${result.sender}`;
              document.querySelector('#compose-subject').value = `Re: ${result.subject}`;
              document.querySelector('#compose-body').value = `On ${result.timestamp} ${result.sender} wrote: ${result.body}`;
            });
          }