const recipients = document.querySelector('#compose-recipients');
const subject = document.querySelector('#compose-subject');
const body = document.querySelector('#compose-body');
const submit = document.querySelector('#submit');

submit.disabled = true;

recipients.onkeyup = () => {
  if (recipients.value.length > 0) {
    submit.disabled = false;
  }
  else {
    submit.disabled = true;
  }
}

document.querySelector('#compose-form').onsubmit = () => {









    function send_email(event) {
        event.preventDefault();

        const new_recipients = document.querySelector('#compose-recipients').value;
        const new_subject = document.querySelector('#compose-subject').value;
        const new_body = document.querySelector('#compose-body').value;

        fetch('/emails', {
          method: 'POST',
          body: JSON.stringify({
            recipients: new_recipients,
            subject: new_subject,
            body: new_body
          })
        })
        .then(response => response.json())
        .then(result => {
          console.log(result);
          load_mailbox('sent');
        });
      }