{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit The Page
{% endblock %}

{% block body %}
    <h1>Edit The Page</h1>

    <form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
        <label for="NewPost"><input type="text" name="title" placeholder="{{ title }}"></label>

        <textarea id="NewPost" name="NewPost" rows="4" cols="4">
            Enter the description here.
        </textarea>
        </br>
        <input type="submit" value="Save">
    </form>
{% endblock %}