{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>
    <form action="{% url 'category' %}" method="POST">
        {% csrf_token %}
        <select name="category" id="">
            {% for category in categories %}
                <option value="{{ categ}}"
        </select>
    </form>
    <ul>
        {% for listing in listings %}
            <li>Title: {{ listing.title }}</li>
            <li>Description: {{ listing.description }}</li>
            <li>Price: ${{ listing.bid.amount }}.00</li>
            <li>Created {{ listing.bid.time }}</li>
            <li>By {{ listing.creator.username }}</li>
            {% if listing.image %}
            <li>Image: </br></br><img src="{{ listing.image }}" alt="image" width="150" height="150"></li></br>
            {% else %}
            <li>Image: Not-provided </li></br>
            {% endif %}
            <a href="{% url 'item' listing.id %}" class="btn btn-success" role="button">Go</a>
    </br></br>
        {% endfor %}
    </ul>

    <a href="{% url 'create' %}" role="button" class="btn btn-primary">Create Listing</a>

{% endblock %}