{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listings</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div>
        <form action="{% url 'create' %}">
            <label for="title">Title</label>
            <div class="input">
            <input type="text" id="title" name="title" placeholder="Enter the title">
            </div>
            </br>
            <label for="description">Description</label></br>
            <textarea id="description" name="description" rows="5" cols="33"></textarea>
            </br></br>
            <label for="starting_bid">Starting Bid</label>
            <div class="input">
            <input type="number" id="starting_bid" name="starting_bid" min="10">
            </div>
            </br>
            <input type="submit" value="Create">
        </form>
    </div>

{% endblock %}