{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}
            <li>Title: {{ listing.title }}</li>
            <li>Description: {{ listing.description }}</li>
            <li>Price: ${{ listing.bid.amount }}.00</li>
            <li>Created {{ listing.bid.time }}</li>
            {% if listing.image %}
            <li>Image: </br></br><img src="{{ listing.image }}" alt="image" width="150" height="150"></li></br>
            {% else %}
            <li>Image: Not-provided </li></br>
            {% endif %}
            <a href="{% url 'item' listing.id %}" role="button" class="btn btn-success">Go</a>
    </br></br>
        {% endfor %}
    </ul>

    <a href="{% url 'create' %}" role="button" class="btn btn-primary">Create Listing</a>

{% endblock %}