{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}
            <li>Title: {{ listing.title }}</li>
            <li>Description: {{ listing.description }}</li>
            <li>Bid & Time: {{ listing.bid }}</li>
            <li>Image: <a href="{{ listing.image }}"></a></li>
    </br></br>
        {% endfor %}
    </ul>


    <a href="{% url 'create' %}"><button class="btn btn-primary">Create Listing</button></a>

{% endblock %}