{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}
        {% if message %}
            {{ message }}
        {% endif %}
    </h2>


    {% if watchlist %}
        <form action="{% url 'watchlist' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ listing.id }}" name="id" id="id">
            <input type="submit" class="btn btn-success btn-sm" value="Add to the Watchlist">
        </form>
    {% else %}
        <form action="{% url 'remove' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ listing.id }}" name="id" id="id">
            <input type="submit" class="btn btn-danger btn-sm" value="Remove from the Watchlist">
        </form>
    {% endif %}



    </br>
    <img src="{{ listing.image }}" alt="image" width="150" height="150"></br>
    <h3>Price: ${{ listing.bid.amount }}.00</h3>

    {% if message %}
    <button type="button" class="btn btn-secondary" disabled>Bidding closed</button>
    {% else %}
    <form action="{% url 'place_bid' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ listing.id }}" name="id" id="id">
        <input type="hidden" value="{{ request.user.username }}" name="username" id="username">
        <input type="hidden" value="{{ listing.bid.amount }}" name="amount" id="amount">
        <input type="number" placeholder="Bid" min="10" name="place_bid">

        <input type="submit" value="Place Bid" class="btn btn-primary">
    {% endif %}
    </form>


    <h3>Created {{ listing.bid.time }}</h3>
    <h3>Description: {{ listing.description }}</h3></br>



    {% if close %}
    <form action="{% url 'close' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ listing.id }}" name="id" id="id">
        <input type="submit" class="btn btn-secondary btn-sm" value="Close">
    </form>
    {% endif %}


    {% for comment in comments %}
    Comment: {{ comment.comment }} by {{ comment.commentor}} at {{ comment.time }}
    </br>
    {% endfor %}

    <form action="{% url 'comments' listing.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ listing.id }}" name="id" id="id">
        <input type="hidden" value="{{ request.user.username }}" name="username" id="username">
        <input type="text" name="comment" id="comment" placeholder="Enter your comment here.">
        <input type="submit" value="Add a comment" class="btn btn-primary btn-sm">
    </form>
{% endblock %}