{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ title }}</h2>
    {% if item in watchlist %}
        <form action="{% url 'watchlist' %}" method="POST">
            <input type="submit" class="btn btn-success btn-sm" value="Add to the Watchlist">
        </form>
    {% else %}
        <form action="{% url 'watchlist' %}" method="POST">
            <input type="submit" class="btn btn-danger btn-sm" value="Remove from the Watchlist">
        </form>
    {% endif %}
    </br>
    <img src="{{ image }}" alt="image" width="150" height="150">
    <h3>Price: ${{ amount }}.00</h3>
    <form action="{% url 'place_bid' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ id }}" name="id" id="id">
        <input type="hidden" value="{{ amount }}" name="amount" id="amount">
        <input type="number" placeholder="Bid" min="10" name="place_bid">
        <input type="submit" value="Place Bid" class="btn btn-primary">
    </form>
    <h3>Created {{ time }}</h3>
    <h3>Description: {{ description }}</h3>
{% endblock %}