{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2></br></br>

    <ul>
        {% for item in items %}
            <li>Title: {{ item.title }}</li>
            <li>Description: {{ item.description }}</li>
            <li>Price: ${{ item.bid.amount }}.00</li>
            <li>Created {{ item.bid.time }}</li>
            {% if item.image %}
            <li>Image: </br></br><img src="{{ item.image }}" alt="image" width="150" height="150"></li></br>
            {% else %}
            <li>Image: Not-provided </li></br>
            {% endif %}
            <form action="{% url 'remove' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ item.id }}" name="id" id="id">
                <input type="submit" class="btn btn-danger btn-sm" value="Remove from the Watchlist">
                </br></br></br></br>
            </form>
            <div class="line"></div></br>
        {% endfor %}
    </ul>
{% endblock %}