{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Share</th>
                <th>Price</th>
                <th>Username</th>
                <th>Time</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td>{{stock["symbol"]}}</td>
                    <td>{{stock["totalShares"]}}</td>
                    <td>{{stock["price"]}}</td>
                    <td>{{stock["totalShares"] * stock["price"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}