{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Share</th>
                <th>Price</th>
                <th>Username</th>
                <th>Time</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td>{{purchase["symbol"]}}</td>
                    <td>{{purchase["shares"]}}</td>
                    <td>{{usd(purchase["price"])}}</td>
                    <td>{{purchase["username"]}}</td>
                    <td>{{purchase["time"]}}</td>
                    <td>{{purchase["type"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}