{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Share</th>
                <th>Price</th>
                <th>Value</th>
                <th>Balance</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{stock.symbol}}</td>
                    <td>{{stock.share}}</td>
                    <td>{{lookup(stock.symbol)["price"]}}</td>
                    <td>{{stock.share * lookup(stock.symbol)["price"]}}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td><td></td><td></td><td></td>
                    <td>{{balance}}</td>
                    <td>{{values + balance}}</td>
                </tr>
        </tbody>
    </table>
{% endblock %}
