{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Share</th>
                <th>Price</th>
                <th>Value</th>
                <th>Balance</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for index in indexes %}
                <tr>
                    <td>{{index.symbol}}</td>
                    <td>{{index.share}}</td>
                    <td>{{lookup(index.symbol)["price"]}}</td>
                    <td>{{index.share * lookup(index.symbol)["price"]}}</td>
                    <td>{{balance}}</td>
                    <td>{{(index.share * index.price) + balance}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
